<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="templates/styles.css">
</head>
<body>
    <h2>Upload File</h2>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <input name="files" type="file" multiple>

        <div style="display: flex; align-items: center;">
            <label for="sheet_name" style="margin-right: 10px;">If Xexcel file enter sheet name:</label>
            <input name="sheet_name" type="text">
        </div>

        <input type="button" id="upload-button" value="Upload">
    </form>
    <h2>Ask Your Data</h2>
    <form id="ask-form" method="post">
        <input name="question" type="text" style="font-size: 20px; color: #999;" placeholder="Enter your question here">
        <input type="button" id="ask-button" value="Ask">
    </form>
    <div id="response"></div>
    <script src="templates/main.js"></script>
</body>
</html>
